@import url('https://fonts.googleapis.com/css?family=Armata|Noticia+Text|Nunito|Oxygen|Roboto+Mono|Trirong');

#nav-mobile a:hover {
   color:  #71B3E8 ;
}

#nav-mobile a:link {
    color: #8b1014;
}

nav  {
    background-color: #000000;
}
#nav-mobile{
   text-decoration-color: #71B3E8 ;

}
body {
    background-color: #F5F5F5;
    height: 100%;

}
#interface{
    height: 100px;
    width: 100%;
    position: relative;
    top: 0px;
    padding-bottom:    50px;
    background-color: yellow;

}
article {
    p: class"flow-text"
}

p {
    font-family: 'Noticia Text', serif;
    font-weight: 400;
    class: "flow-text";
    text-align: justify;

}
h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 250%;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 200%;
}
h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 150%;
}
section {
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 25px;
}
div.subtitulos{

    font-weight: bold;
}
#footer {
    background-image: linear-gradient(to right, #1673ff, #00aa88);
    position: static;
    bottom: 0px;
    width: 100%;
    height: 20%;
}